.addBox:focus{
    outline: none;
    border-color: #f39c12;
    box-shadow: 0 0 10px #f39c12;
}

.addBox{
    border-width: medium;
    border-color: #f39c12;
    resize: none;
}

#charNum{
    color:#f39c12
}

.row {
	margin-bottom: 0.5em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {	
	background-color: #f39c12;
}