<div ng-include="'app/common/selector/selector.html'" onload="setShowAll()"></div>	
<div class="row">
	<tabset justified="true" type="pills" class="col-xs-12">
	    <tab heading="Нови">
			<div class="panel panel-default">
				<div class="panel-body">
			    	<post-entry ng-repeat="x in fPosts = (posts | filter: selectedTheme || undefined: true | orderBy: t_date: true)" info="x"></post-entry>

					<p ng-show="!fPosts.length">Нема пораки.</p>
	            </div>
	        </div>
		</tab>
	    <tab heading="Најпопуларни">
			<div class="panel panel-default">
				<div class="panel-body">
			    	<post-entry ng-repeat="x in fPosts = (posts | filter: selectedTheme || undefined: true)" info="x"></post-entry>
					<p ng-show="!fPosts.length">Нема пораки.</p>
	            </div>
	        </div>
		</tab>
	</tabset>    
</div>